# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
gradle 
.classpath 
.gitattributes 
.project 
.settings 
settings.gradle
gradlew
gradlew.bat
food.csv
